#image1
{ 
  position: absolute;
  
}

#image2
{ 
  position: absolute;
  left: 400px;
}

#image3
{
   position: absolute;
   left: 775px;
}	

#image4
{
  position: absolute;
  left: 775px;
  top: 450px;
}

#image5
{
  position: absolute;
  left: 400px;
  top: 450px;
}
#image6
{
  position: absolute;

  top: 450px;
}